<div class="container-fluid" style="padding-top:10px"> 
  <table class="table table-striped table-bordered">
    <tr style="border-bottom-style:solid;">
      <th>Room Number</th>
      <th>Floor</th>
      <th>Type</th>
      <th>Status</th>
      <th></th>
    </tr>

    <tr *ngFor= "let u of this.rooms;let i = index">
      <td>{{u.number}}</td>
      <td>{{u.floor}}</td>
      <td>{{u.type}}</td>
      <td>{{u.status}}</td>
      <td><button class="btn-danger">Book</button></td>
    </tr>
  </table>
</div>